/*
Free Html5 Responsive Templates
Author: Kimmy
Author URI: http://www.zerotheme.com/
Facebook : http://www.facebook.com/responsivehtml5css3themes
Twitter : http://twitter.com/r53themes
*/
/* -------------------------------------------- */
/* ------------------Reset--------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{
	background:transparent;
	border:0 none;
	font-size:100%;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:top;
	
}
ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}

/* -------------------------------------------- */
/* ------------------Font---------------------- */

/*Add your font at here*/
.titsong{
	color: black;
}
/*strong{
	color: white;
}*/

#login {
	font-size: 15px;
	padding-left: 550px;

}
#reloj{
	color: orange;
	position: relative;
	display: inline-block;
	top: -280px;
	left: 530px;
	font-size: 22px;
}
#fecha{
	position: relative;
	display: inline-block;
	width: 300px;
	top: -280px;
	left: 520px;
	color: brown;
	font-size: 22px;
}
.form-horizontal{
	color: yellow;
	position: relative;
	display: block;
	left: 20px;
	max-width: 80%;
	padding: 20px;
	border: solid;
	width: 80%;
	background: rgba(123, 12, 12, 0.3);
	/*background: url('images/fondob.jpg') no-repeat center center fixed;*/
	margin-bottom: 10px;
	/*opacity: 0.8;*/
}

#formpick{
	
}

#chooseteams{
	position: relative;
	display: block;

}

.form-group{
	color: white;
	border: none;
	font-size: 18px;
}

#username{
	width: 290px;
	/*height*/: 20px;
	background-color: white;
	padding: 10px;
	font-size: 15px;
	color: #076DB6;
}
#password{
	width: 290px;
	/*height: 20px;*/
	background-color: white;
	padding: 10px;
	font-size: 15px;
	color: #076DB6;
}
#name{
	width: 290px;
	/*height: 20px;*/
	background-color: white;
	padding: 10px;
	font-size: 15px;
	color: #076DB6;
}
#email{
	width: 290px;
	height: 20px;
	/*background-color: white;*/
	padding: 10px;
	font-size: 15px;
	color: #076DB6;
}
#inputFile{
	height: 100%;
	color: yellow;
	font-size: 12px;
	margin-top: 30px;
}
.titulos{
	color: #FFCE09;
}
#result_registro{
	width: 150px;
	height: 30px;
	color: yellow;
	font-size: 20px;
}
.boton{
	margin-top: 25px;
	border: none;
	background: #B30100;
	color: #f2f2f2;
	padding: 10px;
	font-size: 15px;
	border-radius: 0px;
	position: relative;
	box-sizing: border-box;
 	transition: all 500ms ease;
	cursor: pointer;
}
.boton2{
	width: 170px;
	text-align: center;
	margin-top: 25px;
	border: none;
	background: #B30100;
	color: #f2f2f2;
	padding: 10px;
	font-size: 15px;
	border-radius: 0px;
	position: relative;
	box-sizing: border-box;
 	transition: all 500ms ease;
	cursor: pointer;
	left: 120px;
	top: 50px;
}
.boton3{
	width: 170px;
	text-align: center;
	margin-top: 25px;
	border: none;
	background: #B30100;
	color: #f2f2f2;
	padding: 10px;
	font-size: 15px;
	border-radius: 0px;
	position: relative;
	box-sizing: border-box;
 	transition: all 500ms ease;
	cursor: pointer;
	top: -20px;
	left: 300px;
}
.boton4{
	margin-top: 25px;
	border: none;
	background: #B30100;
	color: #f2f2f2;
	padding: 10px;
	font-size: 15px;
	border-radius: 0px;
	position: relative;
	box-sizing: border-box;
 	transition: all 500ms ease;
	cursor: pointer;
}
.boton:hover{
	color: black;
	font-size: larger;
	/*background: white;*/
	box-shadow: inset 0 0 0 3px green
}
.boton2:hover{
	color: black;
	font-size: larger;
	background: white;
	box-shadow: inset 0 0 0 3px green
}
.boton3:hover{
	color: black;
	font-size: larger;
	background: white;
	box-shadow: inset 0 0 0 3px green
}
.boton4:hover{
	color: black;
	font-size: 18px;
	/*background: white;*/
	box-shadow: inset 0 0 0 3px green
}

.botonlog{
	margin-top: 23px;
	border: none;
	background: #0079B3;
	color: white;
	padding: 7px;
	width: 94%;
	font-size: 15px;
	border-radius: 80% 80% 0% 0%;
	position: relative;
	box-sizing: border-box;
 	transition: all 500ms ease;
	cursor: pointer;
	height: 60px;
	padding-bottom: 35px;
	/*margin-left: 94%;*/
}
.botonlog:hover{
	/*color: red;*/
	/*background: white;*/
	/*box-shadow: inset 0 0 0 3px green;*/
	font-size: 20px;
	margin-top: 9px;
	padding-bottom: 20px;
	


}

.botonexit{
	margin-top: 50px;
	margin-left: 140px;
	border: none;
	background: #B30100;
	color: #f2f2f2;
	padding: 10px;
	font-size: 15px;
	border-radius: 0px;
	position: relative;
	box-sizing: border-box;
 	transition: all 500ms ease;
	cursor: pointer;
}
.botonexit:hover{
	color: green;
	background: white;
	box-shadow: inset 0 0 0 3px green;
}

#tesigo{
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 25px;
	border: none;
	background: green;
	color: white;
	padding: 10px;
	font-size: 15px;
	border-radius: 0px;
	position: relative;
	box-sizing: border-box;
 	transition: all 500ms ease;
	cursor: pointer;
	left: 52%;
}
#tesigo:hover{
	color: green;
	font-size: 15px;
	background: white;
	box-shadow: inset 0 0 0 3px green
}

#uploadButton2{
	margin-left: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

#localteam{
	position: relative;
	display: inline-block;

}

#visitanteteam{
	position: relative;
	display: inline-block;

}

#jornadas{
	position: relative;
	display: inline-block;
}
 #chooseteaml{
 	position: relative;
 	display: inline-block;
 }
 #chooseteamv{
 	position: relative;
 	display: inline-block;
 	left: 70%;
 	top: -75px;
 }

#jornadass{
	position: relative;
 	display: inline-block;
 	left: 38%;
 	top: -150px;
}

.form-group2{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

#imagens{
	position: relative;
	display: inline-block;
	top: -35px;
	width: 500px;
}
/*#anuncio{
 	padding: 10px;
 	border:1px solid #ffffff;
 	cursor: pointer;
 	font-size: 18px;
 }*/

/* #anuncio:hover{
 	padding: 10px;
 	border:2px solid #076DB6;
 	cursor: pointer;
 	color: #076DB6;
 }*/

#anuncio {
 margin-left: 10px;
 padding-left: 30px;
 padding-right: 30px;
 width: 200px;
 top: 0px;
 left: 50px;
 background-color: #007EFF;
 text-align: center;
}
#anuncio2 {
 margin-left: 10px;
 padding-left: 30px;
 padding-right: 30px;
 width: 200px;
 top: 0px;
 left: 50px;
 background-color: #007EFF;
 text-align: center;
}
#pick {
 margin-left: 10px;
 padding-left: 30px;
 padding-right: 30px;
 width: 200px;
 top: 0px;
 left: 20px;
 background-color: #FF0039;
 text-align: center;
 margin-bottom: 10px;
}
#fav {
 margin-left: 120px;
 padding-left: 30px;
 padding-right: 30px;
 width: 200px;
 top: 0px;
 left: 20px;
 background-color: #076DB6;
 text-align: center;
 margin-bottom: 10px;
}
#cerrar {
 margin-left: 10px;
 padding-left: 30px;
 padding-right: 30px;
 width: 200px;
 left: 330px;
 top: -140px;
 background-color: orange;
 text-align: center;
}
#cerrar2 {
 margin-left: 10px;
 padding-left: 30px;
 padding-right: 30px;
 width: 200px;
 left: 330px;
 top: -70px;
 background-color: orange;
 text-align: center;
}
#borrar_com {
	top: -80px;
	left: 340px;
	background-color: red;
}
#borrar_pick {
	top: 0px;
	left: 280px;
	background-color: red;
}
#modperfil {
 padding-left: 30px;
 padding-right: 30px;
 width: 200px;
 background-color: orange;
 text-align: center;
 margin-bottom: 17px;

}
.se{
	border: 2px;
	border-color: black;
	border-style: none;
}
#eliminar {
 margin-left: 10px;
 padding-left: 30px;
 padding-right: 30px;
 width: 200px;
 text-align: center;
 left: 330px;
 top: -10px;
}
#modificar {
 margin-left: 10px;
 padding-left: 30px;
 padding-right: 30px;
 width: 200px;
 background-color: grey;
 text-align: center;
 left: 50px;
 top: -150px;
}
.perfilusers{
	padding-left: 30px;
	color: orange;
	font-size: xx-large;
	height: 35px;
	background: hsla(350, 93%, 37%, 0.36);
	padding: 10px;
	margin-right: 10px;
	margin-left: 10px;
	height: auto;
}
.kkk{
	padding-left: 30px;
	color: white;
	font-size: xx-large;
	height: 35px;
}
.perfilusers2{
	padding-left: 30px;
	color: orange;
	font-size: xx-large;
	height: 35px;
	background: hsla(21, 90%, 3%, 0.71);
	padding: 10px;
	margin-right: 10px;
	margin-left: 10px;
	height: auto;
	margin-bottom: 20px;
}
.kkk2{
	padding-left: 30px;
	color: white;
	font-size: large;
	height: 35px;
}
.perfilusers3{
	padding-left: 30px;
	color: orange;
	font-size: xx-large;
	height: 35px;
	background: #076DB6;
	padding: 10px;
	margin-right: 10px;
	margin-left: 10px;

}
.kkk3{
	padding-left: 30px;
	color: white;
	font-size: large;
	height: 35px;
}

/*
#anuncio:hover {
 background: rgba(0,0,0,0);
 color: #3a7999;
 box-shadow: inset 0 0 0 3px #3a7999;
 background: white;
}*/


/*.imgcenterr {
	padding-top: 80px;
	padding-right: 30px;
	padding-left: 30px;
}*/


.imgcenterr {
   	padding-top: 80px;
	padding-right: 30px;
	padding-left: 30px;
}

.imgcenter {
   	padding-top: 60px;
	padding-right: 30px;
	padding-left: 30px;
    transform:rotateY(0deg);
    transition-duration: 2s;
    -webkit-transform:rotateY(0deg);
    -webkit-transition-duration: 2s;
}

.imgcenter:hover {
    transform:rotateY(180deg);
    transition-duration: 2s;
    -webkit-transform:rotateY(180deg);
    -webkit-transition-duration: 2s;
}


.texts {
	margin-left: 8%;
}
.textss {
	font-size: 10px;
	margin-left: 10px;
	color: #1E9E49;
}	
#textcom {
	font-size: 10px;
	margin-left: 275px;
	color: #1E9E49;
}


/* -------------------------------------------- */
/* ------------------Style--------------------- */
html, body {width:100%; padding:0; margin:0;}
body {background: #999999 url("../images/pattern29.png");color:white; font: 14px/25px Arial, Helvetica, sans-serif;}

a{
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
}
a:hover {color: #ED145B;; text-decoration: none;}

a.button{cursor: pointer;color: #ffffff;line-height: 14px;font-family: Arial, Helvetica, sans-serif;font-size: 14px;font-weight: bold;	background: #3F3F3F;border:1px solid #ffffff; -webkit-border-radius: 4px;-moz-border-radius: 4px;-khtml-border-radius: 4px;border-radius: 4px;}
a.button {	display: inline-block;	text-decoration: none;	padding: 6px 12px 6px 12px;}
a.button:hover{}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* -------------------------------------------- */
/* ------------------Header-------------------- */
header {margin-bottom: 15px; margin-top: 5px;}
header .wrap-header{height: 250px; background:black; z-index: 1;}

header #logo { width:100%; position: absolute; top:40px; left: 20px;}

header #search {position: absolute;top: 60px; right:20px; width: 218px;z-index: 15;}

/* -------------------------------------------- */
/* ------------------Featured---------------- */

.featured{margin:15px 0px; top: 15%;}
.featured .wrap-featured{background:#141414;}
.featured .wrap-featured .slider{padding: 20px;}

/* -------------------------------------------- */
/* ------------------Content------------------- */
#content {margin:15px 0px;}
#content .wrap-content{background: #141414;}

.block01 {padding: 0px;}
.block01 .box{background: #6495ED; padding: 20px 10px;}
.block01 h2{font-size:23px; line-height:30px; font-weight:normal;}
.block01 p{font-size:16px;}
.block01 .more{text-align: right;}


.block02 { margin:0px; color: #959595;}
.block02 article{ 
	padding-top: 50px;
	clear: both; 
	margin:10px 0px;
	/*background: rgb(65, 131, 142);*/
	/*background: url(images/fondob.jpg) fixed;*/
	background: url('images/fondob.jpg') no-repeat center center fixed;
	
	margin-left: 0px;
	/*height: 732px;
	padding-left: 30px;*/
}
#block02EE { 
	clear: both; 
	margin:10px 0px;
	/*background: rgb(65, 131, 142);*/
	/*background: url(images/fondob.jpg) fixed;*/
	background: url('images/fondob.jpg') no-repeat center center fixed;
	width: 65%;
	margin-left: 10px;
}
#block02EEE{
	/*border: 1px solid #ccc;*/
	/*border-radius: 4px;*/
	width: 32%;
	z-index: 100;
	display: inline-block;
	position: absolute;
	top: 155px;
	left: 645px;
	height: 0px;
	background: black;

}
.block02 article h2{font-size:20px; line-height:25px; font-weight:normal;}
.block02 article .info{
	color:black; 
	text-align: justify; 
	background: #076DB6; 
	padding: 20px 20px 20px 20px;
	border:3px solid #ED145B;
}
.block02 article img{margin:5px;}
.block02 .box{
	margin-bottom:20px;
}
.block02 .heading{padding:5px 0px;  border-bottom:3px solid #ED145B;}
.block02 .heading h2{
	font-size:24px; 
	font-weight:normal; 
	display:inline; 
	color: #ffffff;
	margin-left: 0px;
}
.block02 .content{ 
	margin-top: 10px;


}

.block02 .content .list{background: #076DB6; padding: 10px;}
.block02 .content ul{ font-size:14px; list-style-type:circle; margin-left:20px;}
.block02 .content ul li{padding:5px;}

.block03 { margin:10px; color: #959595;}
.block03 article{ clear: both; margin:20px 0px;background: #040404; padding: 20px;}
.block03 article h2{font-size:25px; line-height:30px; font-weight:normal;}
.block03 article .info{font-style:italic; padding: 10px 0px;}
.block03 article img{ margin-bottom:10px; width: 100%;}
.block03 .box{margin-bottom:20px;}
.block03 .heading{padding:5px 0px; border-bottom:3px solid #ED145B;}
.block03 .heading h2{font-size:24px; font-weight:normal; display:inline; color: #ffffff;}
.block03 .content{ margin: 15px 0px ;padding:15px; background: #040404;}
.block03 .content .list{background: #1E1E1E; padding: 10px;}
.block03 .content ul{ font-size:14px; list-style-type:circle; margin-left:20px;}
.block03 .content ul li{padding:5px;}

/* -------------------------------------------- */
/* ------------------Footer-------------------- */
footer {margin-top: 15px;}
.wrap-footer{background: #141414; border-top:5px solid #ED145B;}

.block09 {padding: 10px;}
.block09 .box{margin-bottom:20px; color: #959595;}
.block09 .heading{padding:5px 0px;}
.block09 .heading h2{font-size:18px; font-weight:normal; display:inline; color: #ffffff; text-transform: uppercase;}
.block09 .content{ margin: 15px 0px ;}
.block09 .content ul{ font-size:14px;}
.block09 .content ul li{padding:5px 0; border-bottom: 1px dotted #333333;}
.block09 .content .tag a{padding: 10px; background: #ED145B; margin: 0px 5px 5px 0px; float: left;}
.block09 .content .tag a:hover{color: #ffffff; background: #F36A97;}
.block09 .content p{margin-bottom:10px; }

.copyright{text-align:center; background:#040404; padding:10px 0px;}
.copyright a{text-decoration:underline;}


/* -------------------------------------------- */
/* ------------------Components-------------------- */
.photos{}
.photos:after{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.photos a{display: block; float:left; margin: 0px 4px 10px 4px;position: relative;}
.photos a img{display:block; border:1px solid #CCC;}

#pagi{margin: 50px auto; padding: 20px 0px;list-style: none;width: 250px;}
#pagi li {float: left;margin-right: 10px;}
#pagi li a {display: block;	text-decoration: none; color: #717171;font: bold 16px Arial, sans-serif;padding: 7px; background: #ffffff;}
#pagi li a.current, #pagi li a:hover {color: #ffffff;	background: #ED145B;}

.comment{font-weight:bold; margin:50px 0px; width: auto;}
.comment div{margin-bottom: 20px; vertical-align:middle; }
.comment input{border: 2px solid #999999;padding: 8px 10px;width:250px;}
.comment textarea{border: 2px solid #999999;padding: 8px 10px;width:95%;}
.comment input[type="submit"] {cursor: pointer; width:100px; float:right;
	background: -webkit-linear-gradient(top, #efefef, #ddd);background: -moz-linear-gradient(top, #efefef, #ddd);
	background: -ms-linear-gradient(top, #efefef, #ddd);background: -o-linear-gradient(top, #efefef, #ddd);
	background: linear-gradient(top, #efefef, #ddd);
	color: #333;text-shadow: 0px 1px 1px rgba(255,255,255,1);	border: 2px solid #999999;}
.comment input[type="submit"]:hover {
	background: -webkit-linear-gradient(top, #eee, #ccc);	background: -moz-linear-gradient(top, #eee, #ccc);
	background: -ms-linear-gradient(top, #eee, #ccc);	background: -o-linear-gradient(top, #eee, #ccc);
	background: linear-gradient(top, #eee, #ccc);	border: 2px solid #bbb;}
.comment input[type="submit"]:active {
	background: -webkit-linear-gradient(top, #ddd, #aaa);	background: -moz-linear-gradient(top, #ddd, #aaa);
	background: -ms-linear-gradient(top, #ddd, #aaa);	background: -o-linear-gradient(top, #ddd, #aaa);
	background: linear-gradient(top, #ddd, #aaa);	border: 2px solid #999;}